* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#global {
    width: 65%;
    margin: 30px auto;
    /* margin-top: 30px; */
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 2px #ccc;
}

#logo {
    font-family: Verdana, Arial;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    text-align: center;
    width: 385px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#menu {
    font-family: Helvetica, Arial;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#menu ul li {
    height: 46px;
    display: flex;
    align-items: center;
    transition: all 300ms;
}

#menu a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 0 30px;
}

#content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#posts {
    width: 60%;
    font-family: Helvetica, Arial;
}

h2 {
    font-size: 30px;
    color: #333;
    font-family: Helvetica, Arial;
}

.post {
    margin: 20px 0;
}

.post .date {
    display: block;
    color: #808080;
    margin-top: 5px;
}

.post p {
    margin: 20px 0;
    line-height: 22px;
    text-align: justify;
}

#btn-more {
    font-size: 14px;
    font-weight: bolder;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

#sidebar {
    font-family: Helvetica, Arial;
    width: 30%;
}

#sidebar h4 {
    margin: 50px 0 20px 0;
    text-align: center;
    line-height: 10px;
    color: #333;
    background: url("../img/lines.png") repeat-x;
}

#sidebar h4 span {
    background: #fff;
    padding: 5px;
}

#sidebar img {
    width: 100%;
}

#sidebar p {
    font-size: 15px;
    text-align: justify;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
select {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 80%;
    margin: 5px 0 10px 0;
}

form input[type="submit"] {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
}

footer {
    font-family: Helvetica, Arial;
    color: white;
    height: 47px;
    background: rgba(51, 51, 51, 0.7);
    margin: 0 auto;
    width: 65%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bx-wrapper,
.bx-viewport {
    height: 250px !important;
}

#selector-theme {
    position: fixed;
    top: 40%;
    background: rgba(51, 51, 51, 0.5);
    width: 50px;
    height: 100px;
}

#to-green,
#to-red,
#to-blue {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    margin: 5px auto;
    cursor: pointer;
}

#to-green {
    background: #235e3d;
}

#to-red {
    background: #ca3413;
}

#to-blue {
    background: #1f87c4;
}

.go-up {
    color: #fff;
    text-decoration: none;
    display: block;
}

#box {
    width: 60%;
    margin-top: 40px;
}

#accordion {
    margin-top: 20px;
}

#clock {
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica, Arial;
    color: #333;
    border: 5px dashed #333;
    width: 30%;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-contact {
    width: 50%;
    margin-top: 15px;
    font-family: Helvetica, Arial;

}

#form-contact label {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.form-error {
    color: #B94A48;
    border: 1px solid #B94A48;
    background-color: #F2DEDE;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.form-error ul {
    /* list-style: none; */
    padding-left: 20px;
    margin-top: 15px;
}

.form-error li {
    margin-bottom: 5px;
}